fastapi
uvicorn[standard]
sqlalchemy
sqlmodel
psycopg2-binary
celery[redis]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
jinja2
boto3
python-dotenv
cryptography
pydantic-settings
email-validator
asyncpg
greenlet
bleach
